
/* GENERALE. */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex{ display: flex;}

.flexDirectColumn{
    flex-direction: column;
}

.alignCenter{ align-items: center;}

.justyContentCent{ justify-content: center;}

.justyContentBet{ justify-content: space-between;}


/* HEADER. */

header{
    background-color: pink;
    width: 100%;
    min-height:80px ; /* da togliere succ */
}

.navSx{
    background-color: yellow;
    width: calc(100% / 3);
    height: 50px; /* da togliere succ */
}

.navDx{
    background-color: yellow;
    width: calc(100%/3);
    height: 50px; /* da togliere succ */
}

/* MAIN. */
/* PRIMO BLOCCO */
.container{
    background-color: #B4D0E7;
    width: 100%;
    min-height: 750px; /* da togliere succ */   
}

.title{
    background-color: aqua;
    width: calc(100% / 2);
    height: 250px; /* da togliere succ */ 
    margin: 0 auto;
}

.containerDue{
    background-color: bisque;
    width: calc(100% / 2);
    height: 500px; /* da togliere succ */ 
    margin: 0 auto;
}

.testo{
    background-color: blueviolet;
    width: calc(100% / 3);
    height: 350px; /* da togliere succ */ 
}

.immagine{
    background-color: rgb(180, 144, 214);
    width: calc(100% / 2);
    height: 350px; /* da togliere succ */ 
}
