
/* GENERALE. */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex{ display: flex;}

.flexDirectColumn{ flex-direction: column;}

.flexWrap{ flex-wrap: wrap;}

.alignCenter{ align-items: center;}

.justyContentCent{ justify-content: center;}

.justyContentBet{ justify-content: space-between;}

.justyContentAround{justify-content: space-around; }

img{ width: 266px;}

.widthLogo{ width: 50%;}

a{ text-decoration: none;}

.padding1Em{padding: 1em;}
.padding3Em{padding: 3em;}
.paddingMezzoem{ padding: 0.5em;}
.paddingTopBottom{ padding: 1em 0 1em 0;}

.borderSolid{border: solid 2px lightgray;}





/* HEADER. */

header{
    width: 100%;
    min-height:80px ; /* da togliere succ */
    position: fixed;
    z-index: 999;
    background-color: white;
}

.navSx{
    width: calc(100% / 3);   
}

.logo{
    background-image: url(./img/logo-small.png);
    width: 127px;
    min-height: 25px;
    background-repeat: no-repeat;
}

.navDx{
    width: calc(100%/3);
}

.buttonHeader{
    padding: 0.5em;
    background-color: blue;
    color: white;
    border: none;
}

.linkHeader{
    color: black;
}

/* MAIN. */
/* PRIMO BLOCCO */
.container{
    background-color: #B4D0E7;
    width: 100%; 
    padding-top:110px; 
    
}

.title{
    width: calc(100% / 1.5);
    margin: 0 auto;
    padding-bottom: 2em;
}

#titoloMain{
    font-size: 5em;
}

.containerDue{
    width: calc(100% / 1.5);
    /* height: 500px; da togliere succ  */
    margin: 0 auto;
}

.testoUno{
    font-size: 1.5em;
    width: calc(100% / 3);
    margin-right: 3em;
    height: 350px; /* da togliere succ */ 
}

.buttonMainUno{
    padding: 1em;
    color: white;
    background-color: blue;
    margin: 1.5em 0px 1.5em 0px;
    border: none;
}

.arrowDown{
    font-size: 2em;
    color: black;
}

.immagineUno{
    width: calc(100% / 2);
    height: 350px; /* da togliere succ */ 
}

.jumbo{
    width: 125%;
}

/* SECONDO BLOCCO */

.plansUno{
    width: calc(100% /2);
    margin: 0 auto;    
}

.titlePlans{
    font-size: 2em;
    padding: 3em 0px 1em 0.5em;
}

.radio{
    padding: 0px 0px 1em 1em;
}


.plansDue{
    width: calc(100% /2);
    margin: 0 auto; 
}

.mode{
    width: calc(100% / 3.5);
    margin-bottom: 1em;  
    
}

.professional{
    border: solid 2px lightgray;
    width: 100%;
    padding: 0.5em;
    text-align: center;
}


.enterprice{
    background-color: lightgray;
    width: calc(100% - 2.5em);
    min-height: 200px;
    margin: 1em 0px 1em 0px;
}

/* TERZO BLOCCO */

.plansPartner{
    width: calc(100% /2);
    margin: 60px auto;  
}

.immagineDue{
    width: calc(60% - 1em);
}

.partner{
    width: 100%;
}

.testoDue{
    width: calc(40% - 1em);
}

.buttonTestoDue{
    background-color: white;
}

/* QUARTO BLOCCO */

.plansQuattro{
    width: calc(100% /2);
    margin: 70px auto; 
}

.operazioni{
    width: calc(100% - 2em);
    margin: 50px auto;
    font-size: 1.5em;
}

.imgUno{
    width: 100%;
    height: 50%;
    background-image: url(./img/business-feature-send-files-it.png);
}

.boxbloccoQuattro{
    font-size: 30px;
    padding: 1em;
}

/* QUINTO BLOCCO. */

.containerFinale{
    width: 100%;
    max-height: 635px;
    background-color:#B4D0E7 ;
}

.containerFinale >  h1{
    font-size: 35px;
}

.containerFinale > button{
    background-color: white;
    border: none;
}

.box{
    width: calc(100% / 3);
    min-height: 635px; 
    background-color: #F5F5F5;
}

.scroll{
    overflow-y: scroll;
}
.card{
    width: calc(100% / 2);
    height: calc(100% /2)
}

.Verde{background-color: #A2D39B;}
.Bordaux{background-color: #61082B;}
.Azzurro{background-color: #0093CE;}
.Corallo{ background-color: #FF1C1C;}
.Rosso{ background-color: #D5001F;}
.Zucchero{ background-color:#B4D0E7;}
.Blu{background-color: #0D2481;}
.Giallo{background-color: #FFD830;}

.widthLogo{ 
    filter: invert(1);
}

/* DOMANDE. */

.containerRequests{
    width: calc(100% /2);
    margin: 45px auto; 
}

.containerRequests > div{
    margin-top: 30px;
    padding: 30px 0px 20px 0px;
    border-bottom: solid 2px black;
}

.requests{
    border-bottom: solid 2px black;
}

.requests span i{
    margin-left: 370px;
}

.requests:hover span i{
    transform: rotate(180deg);
}

.requests p:last-child{
    display: none;
    margin: 2em;
 
}

.requests:hover p:last-child{
    display: block;
}

/* PARTE FINALE FOOTER. */

.containerFooter{
    width: 100%;
    min-height: 300px;
    background-color: black;
}

.boxFooter{
    width: calc(100% / 1.5);
    margin: 0 auto;
}

.cardFooter{
    width: calc(100% / 5);
    color: white;
}

.cardFooter > h3{
    padding: 1em;
    font-size: 1.5em;
    
}

.cardFooter > div{
    padding: 1em;
    
}

ul{
    list-style: none;
}